

.app {
  width: 100%;
  min-height: 100%;
  padding: 40% 10px 40px 10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.title {
  text-align: center;
}

.main {
  font-family: 'Pacifico', cursive;
  font-size: 58px;
  line-height: 1em;
  text-align: center;
  color: rgb(199, 0, 0);
  text-shadow: 0 0 5px rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 20px;
}

.descrbg {
  background-image: url(/gift/textbg.png);
  width: 95vw;
  max-width: 500px;
  height: 95vw;
  max-height: 500px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.descr {
  position: absolute;
  top: 5%;
  left: 6%;
  color: rgb(0, 0, 0);
  font-family: "Caveat", cursive;
  font-size: 20px;
  line-height: 1.1em;
  width: 57%;
  max-width: calc(500px * 0.57);
  height: calc(95vw * 0.55);
  max-height: calc(500px * 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-3.2deg);
  padding: 2px 5px;
}


.descr div:nth-of-type(1) {
  transform: rotate(0.8deg);
}

@media screen and (min-width: 800px) {
  .app {
    padding-top: 27%;
  }
}


